.photo {
    flex-grow:1;
    padding: .1rem;
    position: relative;
  }

  img {
    display: block;
    min-width: 100%;
    height: 16rem;
    object-fit: cover;   
}
.photoOverlay {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color:#fff;
    font-weight: 100;
    font-size:13px;
}
