header {
    background-color:rgba(0,0,0);;
    color:#fff;
    margin-top:0;
    padding: 1%;
    height: 30px;
    width:98%;
} 

h3 {
  margin: 0;
  float :left;
  font-size: 30px;
  padding-right: 5%;
  width:15%;
}

form {
  display:inline-block;
}
.searchContainer {
    width:80%;
}
  
.searchContainer input[type=text] {
  height: 33px;
  margin: 0;
  line-height: 20px;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  box-shadow: none;
  font-size: 17px;
  float: left;
  width: 80%;
  border-radius: 0 5px 5px 0;
}
  
.searchContainer button {
  float: left;
  padding: 0 10px 0 10px;
  height: 33px;
  background: white;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px 0 0 5px;
}
  
  @media screen and (max-width: 600px) {
    h3 {
      margin-top : 0;
      float :left;
      font-size: 20px;
      padding-top:2%;
      padding-right: 10px;
      width:15%;
    }
    header {
      height :50px;
    }
    .searchContainer {
      padding-top:2%;
      width:80%;
    }

  }