
.photos{
    max-width: 1024px;
    margin: 2% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fff;
    background-image: none;
}

.error{
    padding-left:3%;
    color:red;
}

@media screen and(max-width: 600px) {
    .photos{
        max-width:300px;
    }
}

@media screen and (min-width: 601px) and (max-width:900px) {
    .photos{
        max-width:601px;
    }
}