/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.photos{
    max-width: 1024px;
    margin: 2% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fff;
    background-image: none;
}


@media screen and (max-width: 600px) {
    .photos{
        max-width:400px;
    }
}

@media screen and (min-width: 601px) and (max-width:900px) {
    .photos{
        max-width:601px;
    }
}